.android-large-1{
  display: flex;
  flex-direction: column;
}






/* .gurukul-bro-06-04-23-low-1-1 { 
  position: absolute;
  top: 0;
  left: 0;
  width: 412px;
  height: 518px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-2-1,
.gurukul-bro-06-04-23-low-3-1,
.gurukul-bro-06-04-23-low-4-1 {
  position: absolute;
  top: 525px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-3-1,
.gurukul-bro-06-04-23-low-4-1 {
  top: 1048px;
}

.gurukul-bro-06-04-23-low-4-1 {
  top: 1573px;
  left: 1px;
  width: 412px;
  height: 498px;
}

.gurukul-bro-06-04-23-low-5-1,
.gurukul-bro-06-04-23-low-6-1,
.gurukul-bro-06-04-23-low-7-1 {
  position: absolute;
  top: 2075px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-6-1,
.gurukul-bro-06-04-23-low-7-1 {
  top: 2605px;
}

.gurukul-bro-06-04-23-low-7-1 {
  top: 3135px;
}

.gurukul-bro-06-04-23-low-10-1,
.gurukul-bro-06-04-23-low-8-1,
.gurukul-bro-06-04-23-low-9-1 {
  position: absolute;
  top: 3667px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-10-1,
.gurukul-bro-06-04-23-low-9-1 {
  top: 4199px;
}

.gurukul-bro-06-04-23-low-10-1 {
  top: 4729px;
}

.gurukul-bro-06-04-23-low-11-1,
.gurukul-bro-06-04-23-low-12-1,
.gurukul-bro-06-04-23-low-13-1 {
  position: absolute;
  top: 5258px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-12-1,
.gurukul-bro-06-04-23-low-13-1 {
  top: 5785px;
}

.gurukul-bro-06-04-23-low-13-1 {
  top: 6313px;
  height: 484px;
}

.gurukul-bro-06-04-23-low-14-1,
.gurukul-bro-06-04-23-low-15-1 {
  position: absolute;
  top: 6806px;
  left: 0;
  width: 412px;
  height: 472px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-15-1 {
  top: 7282px;
  height: 499px;
}

.gurukul-bro-06-04-23-low-16-1,
.gurukul-bro-06-04-23-low-17-1,
.gurukul-bro-06-04-23-low-18-1 {
  position: absolute;
  top: 7790px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-17-1,
.gurukul-bro-06-04-23-low-18-1 {
  top: 8319px;
}

.gurukul-bro-06-04-23-low-18-1 {
  top: 8847px;
  height: 497px;
}

.gurukul-bro-06-04-23-low-19-1,
.gurukul-bro-06-04-23-low-20-1,
.gurukul-bro-06-04-23-low-21-1 {
  position: absolute;
  top: 9351px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-20-1,
.gurukul-bro-06-04-23-low-21-1 {
  top: 9877px;
}

.gurukul-bro-06-04-23-low-21-1 {
  top: 10407px;
}

.gurukul-bro-06-04-23-low-22-1,
.gurukul-bro-06-04-23-low-23-1 {
  position: absolute;
  top: 10937px;
  left: 0;
  width: 412px;
  height: 542px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-23-1 {
  top: 11486px;
  height: 520px;
}

.gurukul-bro-06-04-23-low-24-1,
.gurukul-bro-06-04-23-low-25-1,
.gurukul-bro-06-04-23-low-26-1 {
  position: absolute;
  top: 12014px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-25-1,
.gurukul-bro-06-04-23-low-26-1 {
  top: 12543px;
}

.gurukul-bro-06-04-23-low-26-1 {
  top: 13072px;
  height: 498px;
}

.gurukul-bro-06-04-23-low-27-1,
.gurukul-bro-06-04-23-low-28-1 {
  position: absolute;
  top: 13579px;
  left: 0;
  width: 412px;
  height: 503px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-28-1 {
  top: 14091px;
  height: 520px;
}

.gurukul-bro-06-04-23-low-29-1,
.gurukul-bro-06-04-23-low-30-1 {
  position: absolute;
  top: 14618px;
  left: 0;
  width: 412px;
  height: 468px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-30-1 {
  top: 15092px;
  height: 546px;
}

.gurukul-bro-06-04-23-low-31-1,
.gurukul-bro-06-04-23-low-32-1,
.gurukul-bro-06-04-23-low-33-1 {
  position: absolute;
  top: 15645px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-32-1,
.gurukul-bro-06-04-23-low-33-1 {
  top: 16173px;
}

.gurukul-bro-06-04-23-low-33-1 {
  top: 16700px;
  height: 477px;
}

.gurukul-bro-06-04-23-low-34-1,
.gurukul-bro-06-04-23-low-35-1 {
  position: absolute;
  top: 17187px;
  left: 0;
  width: 412px;
  height: 520px;
  object-fit: cover;
}

.gurukul-bro-06-04-23-low-35-1 {
  top: 17715px;
}


.android-large-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 18260px;
  overflow: hidden;
}
 */
.fixed-icons {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.icon {
  width: 40px;
  height: 40px;
}
.android-large-2 {
  background-color: #fff;
  width: 100%;
  height: 543px;
  overflow: hidden;
}
.gurukul_index_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 720px;
  object-fit: cover;
}

.xyz {
  width: 200px;
  height: 200px;
}

.n2 {
  width: 290px;
  height: 281px;
}

.thumbnail {
  max-width: 100%;
  height: auto;
}
.android-large-3 {
  background-color: #fff;
  width: 100%;
  height: 543px;
  overflow: hidden;
}

/* .index_first {
  position: absolute;
  top: 0;
  left: 0;
  width: 358px;
  height: 518px;
  object-fit: cover;
}
.comingSoon {
  position: absolute;
  top: 525px;
  left: 0;
  width: 359px;
  height: 779px;
  object-fit: cover;
} */
.index_first {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
}

.comingSoon {
  position: absolute;
  top: 67%;
  left: 0;
  width: 50%;
  max-width: 400px;
}
@media (max-width: 768px) {
  .index_first, .comingSoon {
      width: 100%;
      max-width: none;
  }
}


/* .desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
 */
.div{
  display: flex;
  flex-direction: column;
}
/*
.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 19157px;
  position: relative;
}

.desktop .gurukul-bro {
  position: absolute;
  width: 1438px;
  height: 1016px;
  top: 2151px;
  left: 0;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  width: 1440px;
  height: 2131px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .gurukul-bro-2 {
  position: absolute;
  width: 1435px;
  height: 1040px;
  top: 3187px;
  left: 3px;
  object-fit: cover;
}

.desktop .gurukul-bro-3 {
  width: 1437px;
  height: 1040px;
  top: 6391px;
  position: absolute;
  left: 3px;
  object-fit: cover;
}

.desktop .gurukul-bro-4 {
  position: absolute;
  width: 1437px;
  height: 1040px;
  top: 7451px;
  left: 3px;
  object-fit: cover;
}

.desktop .gurukul-bro-5 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 9566px;
  left: 9px;
  object-fit: cover;
}

.desktop .gurukul-bro-6 {
  position: absolute;
  width: 1432px;
  height: 1035px;
  top: 8511px;
  left: 0;
  object-fit: cover;
}

.desktop .gurukul-bro-7 {
  width: 1423px;
  height: 1122px;
  top: 10626px;
  position: absolute;
  left: 3px;
  object-fit: cover;
}

.desktop .gurukul-bro-8 {
  position: absolute;
  width: 1417px;
  height: 1040px;
  top: 11768px;
  left: 9px;
  object-fit: cover;
}

.desktop .gurukul-bro-9 {
  position: absolute;
  width: 1423px;
  height: 992px;
  top: 12832px;
  left: 15px;
  object-fit: cover;
}

.desktop .gurukul-bro-10 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 13848px;
  left: 15px;
  object-fit: cover;
}

.desktop .gurukul-bro-11 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 14910px;
  left: 15px;
  object-fit: cover;
}

.desktop .gurukul-bro-12 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 15972px;
  left: 15px;
  object-fit: cover;
}

.desktop .gurukul-bro-13 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 17034px;
  left: 8px;
  object-fit: cover;
}

.desktop .gurukul-bro-14 {
  position: absolute;
  width: 1423px;
  height: 1040px;
  top: 18089px;
  left: 8px;
  object-fit: cover;
}

.desktop .gurukul-bro-15 {
  position: absolute;
  width: 1425px;
  height: 1046px;
  top: 4247px;
  left: 15px;
  object-fit: cover;
}

.desktop .gurukul-bro-16 {
  position: absolute;
  width: 1431px;
  height: 1065px;
  top: 5313px;
  left: 9px;
  object-fit: cover;
}
 */